<h1>Company</h1>

<p>This is a company detail.</p>
<p>first number:<input type="text" ngModel name="num1" id="num1" value="50"></p>
<div ng-app="myApp" ng-controller="mainController" data-ng-init="init()">
  <table class='table table-striped' aria-labelledby="tableLabel" ng-init="getstudent()">
    <thead>
      <tr>
        <th>Id</th>
        <th>Project Name</th>
        <th>Group Name</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.id }}</td>
        <td>{{ forecast.projectName }}</td>
        <td>{{ forecast.groupMeetingLeadName }}</td>
        <td (click)="updateedit()">Edit</td>
      </tr>
    </tbody>
  </table>
</div>


